.main-container{
    display: flex;
    flex-direction: row;
    padding: 20px 100px;
}
.main-content{
    display: flex;
    flex-direction: column;
    padding:110px 150px;
}
.main-h1{
    font-size: 72px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;  
}
.main-p{
    font-size: 19px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal
}
.button-css{
    width: 180px;
}

.main-img-content{
    padding-top: 50px;
    padding-right: 100px;
}
.phone-image{
    height: 600px;
}

@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
    .main-container{
        display: flex;
        flex-direction: row;
        padding: 20px 50px;
    }
    .main-content{
        display: flex;
        flex-direction: column;
        padding:100px 100px;
    }
    .main-h1{
        font-size: 65px;
    }
    .main-p{
        font-size: 16px;
    }
    .button-css{
        width: 180px;
    }
    .main-img-content{
        padding-top: 50px;
        padding-right: 100px;
    }
    .phone-image{
        height: 600px;
    }

}
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
    .main-container{
        display: flex;
        flex-direction: column;
        padding: 20px 50px;
    }
    .main-content{
        display: flex;
        flex-direction: column;
        padding:100px 100px;
    }
    .main-h1{
        font-size: 45px; 
    }
    .main-p{
        font-size: 14px;
    }
    .button-css{
        width: 180px;
    }
    .main-img-content{
        padding: 0px 100px;
        margin-left: 30px;
    }
    .phone-image{
        height: 400px;
    }
}
@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
    .main-container{
        display: flex;
        flex-direction: column;
        padding: 20px 20px;
    }
    .main-content{
        display: flex;
        flex-direction: column;
        padding:100px 100px;
    }
    .main-h1{
        font-size: 25px; 
    }
    .main-p{
        font-size: 12px;
    }
    .button-css{
        width: 180px;
    }
    .main-img-content{
        padding: 0px 50px;
    }
    .phone-image{
        height: 400px;
        padding-right: 100px;
    }
}
